[submodule "tools/cmdata/src/popt"]
	path = tools/cmdata/src/popt
	url = https://github.com/rpm-software-management/popt.git
[submodule "tools/cmdata/src/xdrfile"]
	path = tools/cmdata/src/xdrfile
	url = https://github.com/chemfiles/xdrfile.git
[submodule "tools/cmdata/src/googletest"]
	path = tools/cmdata/src/googletest
	url = https://github.com/google/googletest.git
