alabaster==0.7.12
asn1crypto==1.3.0
astroid==2.4.1
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
attrs==19.3.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1596345643597/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1605182336601/work
backcall==0.2.0
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601745390275/work
bhmm @ file:///home/conda/feedstock_root/build_artifacts/bhmm_1604356673509/work
biopython @ file:///home/conda/feedstock_root/build_artifacts/biopython_1606144934002/work
bleach==3.1.5
brewer2mpl==1.4.1
certifi==2021.5.30
cffi==1.13.2
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1605566717222/work
chardet==3.0.4
cmake==3.18.2.post1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda==4.10.3
conda-build==3.21.4
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1618231393684/work
cryptography==2.8
cycler==0.10.0
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1613867103122/work
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1604312823872/work
distro==1.5.0
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1610127754852/work
entrypoints==0.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
freemol==1.158
ggplot==0.11.5
glob2==0.7
gmxapi==0.1.0.1
GridDataFormats==0.5.0
GromacsWrapper==0.8.0
gromologist==0.212
gsd @ file:///home/conda/feedstock_root/build_artifacts/gsd_1605120292574/work
h5py==2.10.0
humanfriendly==9.1
hypothesis==4.57.1
idna==2.8
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446408836/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1594753368403/work/dist/ipykernel-5.3.2-py3-none-any.whl
ipyparallel @ file:///home/conda/feedstock_root/build_artifacts/ipyparallel_1607986716236/work
ipython @ file:///tmp/build/80754af9/ipython_1593447368578/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi @ file:///tmp/build/80754af9/jedi_1592841891421/work
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///tmp/build/80754af9/jsonschema_1594363551272/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
kaleido==0.2.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
libarchive-c @ file:///home/conda/feedstock_root/build_artifacts/python-libarchive-c_1622603313154/work/dist
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
matplotlib==3.1.3
mccabe==0.6.1
MDAnalysis @ file:///home/conda/feedstock_root/build_artifacts/mdanalysis_1614517646257/work
MDAnalysisTests==1.0.1
mdshare==0.4.1
mdtraj @ file:///home/conda/feedstock_root/build_artifacts/mdtraj_1611249632885/work
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mizani==0.7.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mmtf-python==1.1.2
mock @ file:///home/conda/feedstock_root/build_artifacts/mock_1610094566999/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1612756563342/work
mpi4py==3.0.3
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1605895130094/work
msmbuilder==3.9.0.dev0
msmtools @ file:///home/conda/feedstock_root/build_artifacts/msmtools_1613003082644/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1610094361399/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1594376811065/work
nbformat==5.0.7
netCDF4==1.5.3
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nglview @ file:///home/conda/feedstock_root/build_artifacts/nglview_1592924837339/work
notebook==6.0.3
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1609341224758/work
numkit==1.1.2
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603479632437/work
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1601580905698/work
olefile==0.46
packaging==20.4
palettable==3.3.0
pandas==1.1.0
pandocfilters==1.4.2
parso==0.7.0
pathos @ file:///home/conda/feedstock_root/build_artifacts/pathos_1604393483639/work
patsy==0.5.1
pdb2pqr-minimal==0.0.0
pexpect @ file:///tmp/build/80754af9/pexpect_1594383317248/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1594384075987/work
Pillow==7.0.0
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1625854086923/work
plotly @ file:///Users/nicolas/miniconda2/conda-bld/plotly_1624908964319/work/packages/python/plotly/dist/plotly-5.1.0.tar.gz
plotly-express==0.4.0
plotnine==0.7.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1610318091726/work
pox @ file:///home/conda/feedstock_root/build_artifacts/pox_1604303375538/work
ppft @ file:///home/conda/feedstock_root/build_artifacts/ppft_1604303397794/work
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1610127094245/work
ptyprocess==0.6.0
py @ file:///home/conda/feedstock_root/build_artifacts/py_1607783655754/work
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1610094791171/work
pycparser==2.19
pyEMMA @ file:///home/conda/feedstock_root/build_artifacts/pyemma_1605275850984/work
Pygments==2.6.1
pylint==2.5.2
pymol==2.3.4
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.16.0
PySocks==1.7.1
pytest==6.2.2
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.4.1
pyzmq==19.0.1
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
requests==2.22.0
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1611943443937/work
scikit-build==0.11.1
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1614445567925/work
scipy==1.4.1
seaborn==0.11.1
Send2Trash==1.5.0
six==1.14.0
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1611270869511/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1605110889605/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1615040753285/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statsmodels @ file:///tmp/build/80754af9/statsmodels_1602280183240/work
tables==3.6.1
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1626090218611/work
terminado==0.8.3
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
toml==0.10.0
tornado==6.0.3
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1623518955413/work
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.8
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==3.1.0
